html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f7f7 !important;
}


/* Control the Unordered List to paint the discs*/
ul{
  padding-left: 1.2em;
  padding-right: 0em;
}
ul li{
  line-height: 1.1em;
  text-align: left;
  padding: 0;
  margin: 0;

  color: #dadada;
}
ul li span
{
  color: #818181;
}
li.danger {
  color: #e9652f;
}
li.info {
  color: #ebb832;
}
li.success {
  color: #47d898;
}


/* Responsive directives */
@media only screen and (max-width: 460px) {
  body {
    padding: 0px;
  }

  .form-signin
  {
    height: 100%;
    width: 100%;
    padding: 16px;
    margin: 0;
  }
}


/*Overwite bootstrap default height*/
.progress
{
  height: 8px !important;
}
.progress-bar
{
  background-color: #bebebe;
}
.progress-bar.danger {
  background-color: #e9652f;
}
.progress-bar.info {
  background-color: #ebb832;
}
.progress-bar.success {
  background-color: #47d898;
}



.form-signin {
  background: #ffffff;
  width: 100%;
  max-width: 460px;

  padding: 65px;

  margin: auto;
  color: #818181;
  font-weight: 500;
  font-size: 11pt;

  box-shadow: 0px 0px 8px 0px #dadada;
}
.form-signin .h3 {
  /* Welcome Title */
  color: #6f36d4;
  font-weight: bolder;
  font-size: 13pt;
}
.form-signin .control-label{
  display: table;
  text-align: left !important;
}
.form-signin .form-control {
  height:auto;
  position: relative;
  padding: 5px;
  font-size: 16px;

  box-sizing: border-box;

  border-color: #bebebe;
  border-radius: 0;
  border-width: 1px;
}
.form-control.danger {
  border-color: #e9652f;
}
.form-control.info {
  border-color: #ebb832;
}
.form-control.success {
  border-color: #47d898;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin button {
  /* Sign In Button */
  color: #ffffff;
  background-color: #6f36d4;
  border-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
